body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #00193b;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    margin: 1em 0;
    background-color: #fff;
    border-radius: 8px;
}

#portfolio .portfolio-item {
    margin-bottom: 1em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #00193b;
    color: #fff;
}
